.conteiner-conteudo-principal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
}

.sessao-conteudo-principal {

   width: 900px;
   height: 600px;
   background-color: gray;
   display: grid;
   grid-template-columns: 0.5fr 1.5fr 1fr;
   padding: 50px 0px;
}

.conteiner-modificadores {
   display: flex;
   flex-direction: ;



}